<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
</head>
<body>
    
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">                   
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/players}">Jugadores</a></li>
                        <li><a th:href="@{/players/add}">Alta de Jugador</a></li>
                        
                        <li><a th:href="@{/profile}">Perfil</a></li>
                        
                        <li><a th:href="@{/logout}">Salir</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
    </div>
</div>

</body>
</html>