<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
	
	<style type="text/css">
		body{
			padding-top:5%;
		}
	
		img{
			width:100%;
		}
		
	</style>
</head>
<body>
	<div class="container text-center">
		<div class="mx-auto col-10 card">
			<div class="card-header">
				<h4 th:text="${error}">Acces Denied</h4>
			</div>		
			<div class="card-body">
				<a href="/userForm" ><img src="static/images/pepinilloError.png" th:src="@{/images/pepinilloError.png}"/></a>
			</div>
		</div>
	</div>

</body>
</html>