<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Jugadores</title>
    <th:block th:include="layout/header"></th:block>    
    <script language="javascript">
        function doSearch()
        {
            const tableReg = document.getElementById('tableData');
            const searchText = document.getElementById('searchTerm').value.toLowerCase();
            let total = 0;
 
            // Recorremos todas las filas con contenido de la tabla
            for (let i = 1; i < tableReg.rows.length; i++) {
                // Si el td tiene la clase "noSearch" no se busca en su cntenido
                if (tableReg.rows[i].classList.contains("noSearch")) {
                    continue;
                }
 
                let found = false;
                const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
                // Recorremos todas las celdas
                for (let j = 0; j < cellsOfRow.length && !found; j++) {
                    const compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                    // Buscamos el texto en el contenido de la celda
                    if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
                        found = true;
                        total++;
                    }
                }
                if (found) {
                    tableReg.rows[i].style.display = '';
                } else {
                    // si no ha encontrado ninguna coincidencia, esconde la
                    // fila de la tabla
                    tableReg.rows[i].style.display = 'none';
                }
            }
 
            // mostramos las coincidencias
            const lastTR=tableReg.rows[tableReg.rows.length-1];
            const td=lastTR.querySelector("td");
            lastTR.classList.remove("hide", "red");
            if (searchText == "") {
                lastTR.classList.add("hide");
            } else if (total) {
                td.innerHTML="Se ha encontrado "+total+" coincidencia"+((total>1)?"s":"");
            } else {
                lastTR.classList.add("red");
                td.innerHTML="No se han encontrado coincidencias";
            }
        }
    </script>
    <style>
        #datos {border:1px solid #ccc;padding:10px;font-size:1em;}
        #datos tr:nth-child(even) {background:#ccc;}
        #datos td {padding:5px;}
        #datos tr.noSearch {background:White;font-size:0.8em;}
        #datos tr.noSearch td {padding-top:10px;text-align:right;}
        .hide {display:none;}
        .red {color:Red;}
    </style>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(players)}">
        <form>
            <input id="searchTerm" placeholder="Buscar jugador" type="text" onkeyup="doSearch()" />
        </form>
        <table id="tableData" class="table table-hover" background="/images/pepinilloFondoHorizontal.png">
            <tr>
                <th>Jugador</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="player : ${players}">
                <td th:text="${player.jugador}">Jugador</td>
                <td th:text="${#dates.format(player.inicio, 'dd-MMM-yyyy')}"></td>
                <td th:text="${#dates.format(player.fin, 'dd-MMM-yyyy')}"></td>
                <td><a th:href="${'/players/edit/' + player.id}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></a></span> </a></td>
                <td>
                    <span th:unless="${player.eliminado == true}"><a th:href="${'/players/delete/' + player.id}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></a></span> 
                    <span th:if="${player.eliminado == true}"><a th:href="${'/players/reactive/' + player.id}" class="btn btn-success"><span class="glyphicon glyphicon-repeat"></a></span> 
                </td>
            </tr>
            <tr class='noSearch hide'>
                <td colspan="5"></td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>